* {
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: x-large;
    background-color: whitesmoke;
}
header {
    display: flex;
    align-items: center;
    color: white;
    height: 500px;
    overflow: hidden;
}
.icon-link {
    position: absolute;
    z-index: 3;
    height: 60px;
    box-sizing: border-box;
    transition: transform 0.2s;
}
.icon-link:hover {
    transform: scale(1.2);
}
#linkedin {
    right: 50px;
}
#github {
    right: 125px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
}
header img {
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    z-index: 0;
    min-width: 100%;
}
header:hover #background {
    transform: scale(1.2);
}
header:hover #gradient {
    opacity: 1;
}
#background {
    object-fit: cover;
}
#gradient {
    z-index: 1;
    opacity: 0;
    background-image: linear-gradient(transparent, royalblue);
    height: 500px;
    width: 100%;
    position: absolute;
    transition: opacity 0.5s;
}
header h1 {
    z-index: 2;
    position: absolute;
    margin-left: 50px;
}
nav {
    margin: 25px auto;
    align-items: center;
    margin-bottom: 0;
    background-color: gainsboro;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    transition: 0.2s color, 0.2s border, 0.2s background-color;
    flex: 100%;
    text-align: center;
}
nav a:hover {
    color: white;
    background-color: royalblue;
}

nav, .section {
    width: 75%;
}

.section {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    border: 2px solid lightgray;

}

a {
    color: royalblue;
}

a:active {
    color: lightblue;
}
ul {
    list-style-type: none;
}

dd {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: dimgray;
}
@media (max-width: 500px) {
    .icon-link {
        top: 50px;
    }
    
}
@media (max-width: 750px) {
    nav, nav a {
        display: block;
    }
    nav a {
        height: 45px;
        line-height: 45px;
        font-size: medium;
    }
    .section {
        padding: 25px;
    }
    ul {
        padding: 0 20px;
    }
    .section p {
        text-indent: 25px;
    }
    body {
        font-size: smaller;
    }
    dd {
        font-size: smaller;
    }
    .icon-link {
        height: 45px;
    }
    #github {
        right: 106.25px;
    }
}