* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

#calc {
    border-radius: 10px;
    padding: 50px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    border: 2px solid lightblue;
    border-top: 8px solid lightblue;
}

#display {
    width: 100%;
    text-align: end;
    padding: 0;
    margin: 15px;
}

.row {
    margin: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.key, #display {
    height: 45px;
    font-size: 25px;
    border-radius: 5px;
    background-color: lightblue;
    border: 2px solid steelblue;
    color: black;
    padding: 5px;
}

.key {
    width: 20%;
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition: 0.1s background-color ease-out, 0.1s color ease-out;
}

.key img {
    height: 50px;
}

.key:hover {
    background-color: lightcyan;
}

.key:active {
    background-color: steelblue;
    color: aliceblue;
}

@media (max-width: 900px) {
    #calc {
        width: 90%;
        padding: 50px 20px;
    }
}